.pages{
  width:100%;
  height:100%;
  overflow: hidden;
  position: relative;
}

.body{
  position: relative;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 100%;
}

.text-top{
  font-size:5em;
//  color: #4A6FB6;
  color: #FFFFFF;
//  text-shadow: 0.02em 0.02em #FFFFFF, 0.02em -0.02em #FFFFFF, -0.02em -0.02em #FFFFFF, -0.02em 0.02em #FFFFFF, 0 0.02em #FFFFFF, 0 -0.02em #FFFFFF, 0.02em 0 #FFFFFF, -0.02em 0 #FFFFFF;
  text-transform: uppercase;
}

.text-main{
  font-size:6em;
//  color: #4A6FB6;
  color: #FFFFFF;
//  text-shadow: 0.02em 0.02em #FFFFFF, 0.02em -0.02em #FFFFFF, -0.02em -0.02em #FFFFFF, -0.02em 0.02em #FFFFFF, 0 0.02em #FFFFFF, 0 -0.02em #FFFFFF, 0.02em 0 #FFFFFF, -0.02em 0 #FFFFFF;
  text-transform: uppercase;
}

.text-bottom{
  font-size:2em;
  color: #FFFFFF;
}

.extern{
  text-decoration: underline;
}

.text{
  position: relative;
  text-align:center;
  margin:1%;
}

.next{
  position: absolute;
  display: block;
  width: 5%;
  height: 7.5%;
  left: 47.5%;
  right: 47.5%;
  bottom: 2%;
  text-align: center;
  background: url("../img/downarrow.png");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  outline: 0;
}

.next:hover{
  background: url("../img/downarrowhover.png");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  transition-duration: 0.3s;
  background-color: rgba(67,70,138,0.5);
}

#end-next{
  background: url("../img/uparrow.png");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
}

#end-next:hover{
  background: url("../img/uparrowhover.png");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  transition-duration: 0.3s;
  background-color: rgba(45,116,255,0.5);
}

#intro{
  background: url("../img/bg-home.jpg");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #5f7bc0;
}

#topics{
  background: url("../img/bg-team.jpg");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #8adee8;
}

#team{
  background: url("../img/bg-team.jpg");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #49509d;
}

.seperator{
  position: relative;
  transform: translate(-50%, -50%);
  left: 25%;
  width: 50%;
  height: 100%;
  float: left;
}

.topic{
  position: relative;
  width: 100%;
  height: 50%;
  float: left;
  border-style: solid;
}

.topics-title{
  text-align: center;
  color: #000000;
}

.name{
  text-align: center;
  font-size:1em;
  display: inline;
}

td{
  text-align: center;
}
