.pages{
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0%;
  overflow: hidden;
  height: 200%
}

.body{
  position: relative;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 100%;
}

.text-top{
  font-size: 2em;
}

.text-body{
  font-size:1em;
}

.extern{
  text-decoration: underline;
}

.text{
  position: relative;
  text-align: center;
  margin: 1%;
  color: #000000;
}

#main-body{
  position: relative;
  margin: 2%;
}

#main-body-top{
  text-align: center;
}

#main{
  background: url("../img/bg-team.jpg");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #bebebe;
}

td{
  text-align: center;
}

#content {
    float:left;
    width:600px;
    text-align: center;
    margin: 20px auto;
}


#sidebar {
    float:left;
    width:600px;
    text-align: center;
    margin: 20px auto;
}

#paragraph {
  float: left;
  text-align: justify;
  width: 580px ;
  margin: 20px auto;
}
